body{
    background-color: #fafafa;
    font-size: 16px;
}

@font-face{
    font-family: Pacifico;
    src: url('/fonts/Pacifico-Regular.ttf');
}
.wrapper{
    padding-top:5%;
    padding-bottom: 5%;
}

.login-wrapper, .register-wrapper{
    color: #212121;
}

.title{
    text-align: center;
    font-family: Pacifico;
    font-size: 5rem;
}

.dropdown-toggle::after {
    display:none !important;
}

.fixed {
    position: fixed;
    width: 25%;
}
.scrollit {
    float: left;
    width: 71%
}